body{
    
    margin: 0px;
    text-align: center;
    background-color: rgb(202, 231, 241);
}
.top-container{
    margin: 0px;
    background-color: rgb(202, 231, 241);
    height: auto;
    padding-top: 200px;
}
.home{
    float: right;
    margin: 1.7% 17px;
    text-decoration: none;
    color: gray;
 font-size: 17px;
}
.home:hover{
    color: white;
}
.img-mount{
width: 50%;
}
 .cloud{
position: absolute;
right: 260px;;
top: 140px;

}
.cloud-1{
    position: absolute;
    left: 300px
     
}
.man{
    width: 100px;
    margin-top:  120px;;
}
.man:hover{
    cursor: pointer;
width: 12%;
padding: 100px;;
float: right;


}
h1{
    margin: 0px;
    text-align: center;
    font-size: 50px;
    font-style: italic;
    font-family: 'Sacramento', cursive;

    
    }
p{
    margin: 0px;
    text-align: center;
    font-style: italic;
    font-family: 'Moon Dance', cursive;
}
.footer-link{
    margin-right: 10px;
    margin-bottom: 100px;
    text-decoration: none;
    color: gray;
}
.footer-link:hover{
    color: white;
}
button{
    background-color: rgb(26, 168, 168);
    width: 100px;;
    border: 0ch;
    margin-bottom: 20px;
}
.btn:hover{
    color: white;
}
    .gmail{
width: 5%;
float: right;

display: inline;



    }
    .gmail:hover{
        
        
        cursor: pointer;
    }
    .skills{
        margin-top: 70px;
    }
    .skill-video{
        cursor: pointer;
        width: 30%;
        margin-top:90px;
    
    }
    .skill-row{
        margin: 80px;
    }
    .skills-video{
        cursor: pointer;
        float: right;
        width: 20%;
        margin-right: 230px;
        border-radius: 10%;
        
    }